@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Inter:wght@400;600&family=Open+Sans:wght@300;400;700&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,700&display=swap');

:root {
  --bg-gray: #e8e8e8;
  --color-primary: #4D41C0;
  --white: #fff
}

html,
body {
  background-color: var(--bg-gray);

}

* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  display: flex;
  align-items: center;
  background-color: var(--color-primary);
  color: var(--white);
  height: 3.37rem;


}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.contact-container img {
  margin-right: 0.625rem;
}

nav a {
  font-size: 12px;
  font-weight: 400;
}


a,
a:hover {
  text-decoration: none;
  color: unset;

}